[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
PIL = {Image = "*"}
pandas = "*"
json = "*"
loguru = {logger = "*"}

[dev-packages]
lzma-dev = "*"

[requires]
python_version = "3.7"
